{% extends 'base.html' %}
{% load static %}
{% block title %}{{item.name}}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'app/css/detail.css' %}">
<div class="container bootdey">
<div class="col-md-12">
<section class="panel">
      <div class="panel-body">
          <div class="col-md-6">
              <div class="pro-img-details">
                  <img src="{{ item.image.url }}" alt="">
              </div>
              <div class="pro-img-list">
                  <a href="#">
                      <img src="https://www.bootdey.com/image/115x100/87CEFA/000000" alt="">
                  </a>
                  <a href="#">
                      <img src="https://www.bootdey.com/image/115x100/FF7F50/000000" alt="">
                  </a>
                  <a href="#">
                      <img src="https://www.bootdey.com/image/115x100/20B2AA/000000" alt="">
                  </a>
                  <a href="#">
                      <img src="https://www.bootdey.com/image/120x100/20B2AA/000000" alt="">
                  </a>
              </div>
          </div>
          <div class="col-md-6">
              <h4 class="pro-d-title">
                  <a href="#" class="">
                      {{item.name}}
                  </a>
              </h4>
              <p>
                  {{item.description}}
              </p>
              <div class="product_meta">
                  <span class="posted_in"> <strong>Categories:</strong> <a rel="tag" href="#">{{item.category}}</a>
                  <span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="#">mens</a>, <a rel="tag" href="#">womens</a>.</span>
              </div>
              <div class="m-bot15"> <strong>Price : </strong> <span class="amount-old">$544</span>  <span class="pro-price"> {{item.price}}</span></div>
              <div class="form-group">
                  <label>Quantity</label>
                  <input type="quantiy" placeholder="1" class="form-control quantity">
              </div>

              <p>
                  <button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
              </p>
              {% if request.user == item.created_by %}
              <div>
                <p>
                    <p>This is your item!</p>
                    <a href="{% url 'edit' item.id %}" class="inline-block mt-6 px-6 py-3 font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
                    <a href="{% url 'delete' item.id %}" class="inline-block mt-6 px-6 py-3 font-semibold bg-red-500 text-white rounded-xl">Delete</a>
              </p>
              {% else %}
              <p>
                    <a href="{% url 'new' item.id %}" class="inline-block mt-6 px-6 py-3 font-semibold bg-teal-500 text-white rounded-xl">Contact seller</a>
              </p>
              {% endif %}
              </div>
          </div>
      </div>
  </section>
  </div>
  </div>

<!-- Related items -->
<link rel="stylesheet" href="{% static 'app/css/related.css' %}">
<div class="container bootstrap snipets">
   <h1 class="text-center text-muted ">Related items</h1>
   <div class="row flow-offset-1">
    {% for item in related_items %}
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="{{ item.image.url }}" alt=""></a>
         <div class="caption">
           <h6><a href="#">{{item.name}}</a></h6><span class="price">
             <del>$24.99</del></span><span class="price sale">{{item.price}}</span>
         </div>
       </div>
     </div>
     {% endfor %}
   </div>
 </div>
{% endblock %}